body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.navigation-container {
    height: 200px;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.contact-hours-container {
    color: royalblue;
}

#address-container {
    color: red; 
}

.left-container {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.icon i {
    font-size: 2em;
}

.left-container > .contact-hours-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}