.navigation-container {
    height: 200px;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-hours-wrapper {
    color: royalblue;
}

#address-container {
    color: red; 
}